body {
  font-family: Montserrat, sans-serif;
  padding: 30px;
}

section {
  margin-bottom: 30px;
}

input,
textarea,
select {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

button {
  margin-left: 6px;
  padding: 6px 10px;
  cursor: pointer;
}
