* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #fff;
  color: #222;
}

/* ================= NAVBAR ================= */
.navbar {
  padding: 22px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 12px rgba(0,0,0,0.05);
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo img {
  width: 34px;
}

.menu {
  display: flex;
  gap: 32px;
  list-style: none;
}

.menu a {
  text-decoration: none;
  font-weight: 800;
  color: #444;
}

.menu .active {
  color: #D64541;
}

/* ================= HERO ================= */
.hero {
  position: relative;
  height: 600px;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translateY(-50%);
  color: white;
}

/* BACK */
.btn-back {
  display: inline-block;
  margin-bottom:200px;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* BADGE PROVINSI */
.badge-provinsi {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: #D64541;
  padding: 12px 22px;
  border-radius: 999px;
  font-weight: 700;
  margin-bottom: 16px;
}

.badge-provinsi::before {
  content: '';
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
}

/* JUDUL */
.hero-content h1 {
  font-size: 80px;
  font-weight: 800;
  margin-bottom: 20px;
}

/* LIKE */
.rating-wrapper {
  display: flex;
  gap: 16px;
}

.rate-btn {
  padding: 12px 18px;
  font-size: 22px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

/* ================= CONTENT ================= */
.section {
  padding: 60px;
  text-align: center;
}

.section h2 {
  font-size: 46px;
  margin-bottom: 16px;
}

.sub {
  max-width: 700px;
  margin: auto;
  font-size: 20px;
  color: #555;
}

/* ================= DETAIL ================= */
.detail-container {
  padding: 20px 60px 80px;
  display: grid;
  gap: 40px;
}

@media (min-width: 900px) {
  .detail-container {
    grid-template-columns: 1fr 1fr;
  }
}

.detail-card {
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 26px rgba(0,0,0,0.08);
}

.detail-card h3 {
  font-size: 34px;
  margin-bottom: 20px;
}

.detail-card li {
  font-size: 20px;
  margin-bottom: 10px;
}
